# Node.js
node_modules/
dist/
build/

# Environment
.env
.env.local
.env.*.local
.env.production

# Prisma
prisma/*.db
prisma/*.db-journal
prisma/migrations/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE
.idea/
.vscode/

# Build
.next/
.turbo/
coverage/
uploads/

# Uploaded files
public/uploads/

# Misc
*.sqlite
*.sqlite-journal
*.tsbuildinfo